---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>
        <b>陈奕迅</b>1974年7月27日出生于中国香港，著名歌手和演员。陈奕迅以其独特的声音和多样的音乐风格而闻名，是华语乐坛中最受欢迎和最具影响力的艺人之一。 在1995年参加了香港无线电视的选秀节目《超级新星》，获得冠军后进入乐坛。自此，他发布了多张专辑，涵盖流行、摇滚、爵士等多种风格。代表作品包括《K歌之王》、《十年》、《浮夸》、《爱情转移》等，他的歌曲常常以感情细腻和旋律优美著称。除了音乐，陈奕迅也在电影界有所发展。他参与了多部电影的演出，如《无间道》、《大块头有大智慧》、《失落沮喪歌》等，展现了他的演技和多才多艺的一面。他曾多次获得各类音乐奖项，包括香港叱咤乐坛男歌手奖、MTV亚洲大奖等，凭借其卓越的音乐成就，他被誉为“香港乐坛的天王”。
    </p>
    <p>
    <b>Eason Chan</b>  born on July 27, 1974, in Hong Kong, is a renowned singer and actor. He is famous for his unique voice and diverse musical styles, making him one of the most popular and influential artists in the Chinese music scene.

In 1995, he participated in the Hong Kong TVB talent show "Super New Star" and won the championship, which launched his music career. Since then, he has released numerous albums that encompass various genres, including pop, rock, and jazz. His notable works include "King of Karaoke," "Ten Years," "Flamboyant," and "Love Transfer," with his songs often characterized by their emotional depth and beautiful melodies.

In addition to his music career, Eason Chan has also ventured into the film industry, appearing in several movies such as "Infernal Affairs," "Big Head Son and Little Head Dad," and "The Disappearance of Hong Kong," showcasing his acting skills and versatility. He has received multiple music awards, including the Hong Kong Radio's Best Male Singer Award and the MTV Asia Award, and he is often referred to as the "King of Hong Kong Music" for his outstanding achievements in the music industry.
    </p>
</div>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/4.41.0/gradio.js"
></script>

<gradio-app src="https://xiaohang07-slices.hf.space" theme_mode="light"></gradio-app>

<gradio-app src="https://xiaohang07-mattergpt-cpu.hf.space" theme_mode="light"></gradio-app>


<section>
    <h2>超话</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>


<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>
